<article id="section-<%= section_id %>" class="section">
  <header>
    <h2><%= section_id %>. <%= section_name %></h2>
  </header>
  <section>
    <header>
      <h3>Units</h3>
    </header>    
    <%= render_units section_id %>  
  </section>
</article>
